.displayNone {
    display: none;
}
.slideInfo-block {
    background: linear-gradient(left, $slideInfo-background 5%, #333);
    padding: 40px;
}
h4 {
    color: $slideInfo-header-color;
    font-family: $bodyText;
    font-weight: bold;
}
.experience-img {
    display: flex;
    position: relative;
    padding: 20px 0;
    width: 20%;
}
li {
    font-family: $bodyText;
}
p {
    font-family: $bodyText;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    flex-align: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.skills-img {
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 5%;
    margin: auto;
}
