body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: $bodyFont;
}
.info-section {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    padding: 125px 0;
    background: #fff;
}
.section-header {
    font-family: $headerFont;
    font-size: 30px;
    color: $headers;
    width: 100%;
    padding-bottom: 75px;
    text-align: center;
}
.subsection {
    display: flex;
    width: 90%;
    margin: auto;
}
