$slideInfo-background: #dfdfdf;
$slideInfo-header-color: #666;
$mainInfo-header-color: #edeaea;
$nav-color: #dfdfdf;
$nav-color-hover: #fff857;
$bodyText: 'Playfair Display', serif;
$headerText: Montserrat;
