@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas_neue/bebas_neue-webfont.woff2') format('woff2'), url('fonts/bebas_neue/bebas_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$primary: #C5E3E5;
$headers: #01454E;
$secondary: #01454F;
$text: #535755;
$accent: #FF9100;
$headerFont: 'bebas', Fallback, sans-serif;
$bodyFont: 'Montserrat', sans-serif;
